/* Style the header section */
header {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 1000;
}

/* Set the background color and font family */
body {
    background-image: url('#');
    background-size: 100% auto; /* Resize the image to cover the entire width and maintain aspect ratio */
    background-position: center; /* Position the image in the center of the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }

.navbar-brand img {
    height: 80px; 
    padding-right: 20px; 
    vertical-align: left;
    object-fit: contain; 
    background-color: transparent;
    border: none; 
    margin: 0; 
    padding: 0; 
  }

body {
	background-color: #cab9a0;
	font-family: Arial, sans-serif;
}


/* Image preview */
.modal-content {
    top: 12rem;
}

.modal-body {
    text-align: center;
	padding: unset;
}

.modal-body img {
    max-width: 100%;
    height: 100%;
	top: 20rem;
    display: inline-block;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

@media (max-width: 768px) {
    .modal-body img {
        max-width: 100%;
        max-height: 100%;
    }
}


.card:hover .img-preview {
    display: block;
}

.card:hover .card-img-top {
    opacity: 0.5;
} 

.zoom:hover {
    transform: scale(1.1);
}


/* Style the navbar menu */
.navbar {
	padding: 1rem 1.5rem;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: bold;
}

.nav-link {
	color: #333;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
}

.nav-link:hover {
	background-color: #eee;
}

/* Style the main section */
main {
	padding: 2rem;
}

section {
	margin-bottom: 3rem;
	font-weight: bold;
}

h2 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

/* Style the footer section */
footer {
	background-color: #333;
	color: #fff;
	padding: 2rem;
}

footer p {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

footer li {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

footer a {
	color: #fff;
}

@media (max-width: 767px) {
	/* Style the navbar menu on small screens */
	.navbar-collapse {
		background-color: #fff;
		padding: 1rem;
		position: fixed;
		top: 4.5rem;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		z-index: 999;
		display: none;
	}

	.navbar-collapse.show {
		display: block;
	}
}

/* sections */
.slideshow {
	padding: 50px 0;
  }
  
  .slideshow h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 30px;
  }
  
  .carousel-item img {
	height: 400px;
	object-fit: cover;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
	height: 50px;
	width: 50px;
	outline: black;
	background-size: 100%, 100%;
	border-radius: 50%;
	border: 1px solid black;
  }
  
  .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-prev,
  .carousel-control-next {
	height: 100%;
	top: 0;
	bottom: 0;
	width: 15%;
	opacity: .5;
	z-index: 1;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
	opacity: .9;
	color: #fff;
	text-decoration: none;
  }
  
  .carousel-control-prev:focus,
  .carousel-control-next:focus {
	outline: none;
	color: #fff;
	text-decoration: none;
  }
  
  .carousel-indicators {
	bottom: -50px;
  }
  
  .carousel-indicators li {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 1px;
	text-indent: -999px;
	border: 1px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	background-color: #fff;
	background-size: cover;
	transition: all 0.5s ease;
  }
  
  .carousel-indicators .active {
	width: 20px;
	height: 20px;
	margin: 0;
	background-color: #17a2b8;
	border: none;
  }
  p.red {
	color: red;
	font-size: 50px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
  }

