/* Style the header section */
header {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 1000;
}

/* Set the background color and font family */
body {
    background-image: url('img/background.png');
    background-size: 100% auto; /* Resize the image to cover the entire width and maintain aspect ratio */
    background-position: center; /* Position the image in the center of the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }

.navbar-brand img {
    height: 80px; 
    padding-right: 20px; 
    vertical-align: left;
    object-fit: contain; 
    background-color: transparent;
    border: none; 
    margin: 0; 
    padding: 0; 
  }

body {
	background-color: #cab9a0;
	font-family: Arial, sans-serif;
}


/* Image preview */
.modal-content {
    top: 12rem;
}

.modal-body {
    text-align: center;
	padding: unset;
}

.modal-body img {
    max-width: 100%;
    height: 100%;
	top: 20rem;
    display: inline-block;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

@media (max-width: 768px) {
    .modal-body img {
        max-width: 100%;
        max-height: 100%;
    }
}


.card:hover .img-preview {
    display: block;
}

.card:hover .card-img-top {
    opacity: 0.5;
} 

.zoom:hover {
    transform: scale(1.1);
}


/* Style the navbar menu */
.navbar {
	padding: 1rem 1.5rem;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: bold;
}

.nav-link {
	color: #333;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
}

.nav-link:hover {
	background-color: #eee;
}

/* Style the main section */
main {
	padding: 2rem;
}

section {
	margin-bottom: 3rem;
	font-weight: bold;
}

h2 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

/* Style the footer section */
footer {
	background-color: #333;
	color: #fff;
	padding: 2rem;
}

footer p {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

footer li {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

footer a {
	color: #fff;
}

@media (max-width: 767px) {
	/* Style the navbar menu on small screens */
	.navbar-collapse {
		background-color: #fff;
		padding: 1rem;
		position: fixed;
		top: 4.5rem;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		z-index: 999;
		display: none;
	}

	.navbar-collapse.show {
		display: block;
	}
}

